/* Order of declarations:
1. Positioning
2. Box Model
3. Typographic
4. Visual 
5. Misc */

/* MY CSS */

/* COLOR SCHEME */

:root {
  --back-color: hsl(220, 10%, 95%);
  --header-color: hsla(220, 10%, 15%, 100%);
  --footer-color: var(--header-color);
  --card-color: white;
  --sidebar-color: #34495e;
  --color3: var(--card-color);
  --buttoncolor: var(--back-color);
}

/* GENERAL BASE STYLING */

button {
  width: fit-content;
  padding: .313rem;
  margin: 0 .625rem;
  border: 1px solid black;
  border-radius: 10%;
  font-size: 1.2rem;
  background-color: var(--buttoncolor);
}

/* GRID LAYOUT */

main {
  background-color: black;
}

.container {
  height: 100vh;
  display: grid;
  grid-template-columns: 10rem repeat(11, 1fr);
  grid-template-rows: 3rem 3rem auto 3rem;
  grid-template-areas:
  "h h h h h h h h h h h h"
  "p p p p p p p p p p p p"
  "l m m m m m m m m m m m"
  "l m m m m m m m m m m m";
}

header {
  grid-area: h;
  padding: 0.625rem;
  background-color: var(--header-color);
}

.toolbar {
  grid-area: p;
  background-color: var(--color3);
}

main {
  grid-area: m;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  padding: 0 5%;
  background-color: var(--back-color);
}

.lsidebar {
  grid-area: l;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: stretch;
  background-color: var(--sidebar-color);
  color: #eee;
}

footer {
  grid-area: f;
  display: none;
  border-top: 1px solid #222;
  background-color: var(--footer-color);
}

/* HEADER */

header h1 {
  text-align: center;
  font-size: 1.5rem;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  color: hsla(220, 0%, 98%, 100%);
}

/* TOOLBAR */

#project-info {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  padding: .313rem;
  font-size: 1.5rem;
}

/* MAIN */

.card {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  height: fit-content;
  margin: 1.25rem;
  padding: 1.25rem;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  background-color: var(--card-color);
}

.card-content {
  position: relative;
}

.card h2 {
  width: 100%;
  padding: .625rem;
  text-align: center;
  font-size: 1.2rem;
  background-color: #a8ccee;
}

.card h3 {
  margin-bottom: .313rem;
  font-size: 1.3rem;
}

/* PIXEL SCENE */

.pixel-card {
  flex: 1 1 80%;
}

.pixel-card img:first-child {
  width: 100%;
  border: 2px solid black;
}

#dude-png {
  position: absolute;
  bottom: 15%;
  left: 2%;
  height: 20%;
}

#red-crystal {
  position: absolute;
  right: 3%;
  bottom: 15%;
  width: auto;
  height: 10%;
}

.win-crystal {
  animation-name: win-crystal;
  animation-duration: 3s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes win-crystal {
  
  0% {
    right: 3%;
    bottom: 15%;
    height: 10%;
  }
  
  50% {
    right: 50%;
    bottom: -50vh;
    height: 50%;
  }
  
  100% {
    right: 30%;
    bottom: -75vh;
    height: 0;
  }
  
}

/* TIMER CARD */

#timer {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

#clock-display {
  margin: 2rem 0;
  font-size: 2.5rem;
}

/* POMODORO CHEST CARD */

#poms-display {
  width: 60%;
  margin: 1.25rem;
  padding: .313rem;
  border: 1px dashed #555;
  text-align: left;
  font-size: 1rem;
  color: red;
}

.poms-div {
  border: 1px solid black;
  text-align: left;
  font-size: .5rem;
}

.poms-div table {
  width: 100%;
  border: 1px solid black;
  border-collapse: collapse;
  border-color: #eee;
  border-radius: 15%;
}

.poms-div table tr {
  height: 1rem;
}

.poms-div table td {
  width: 1em;
}

.poms-div table td.filled {
  background: red;
}

/* SETTINGS CARD */

.settings {
  display: none;
}

.settings input {
  width: 5em;
  font-size: 1rem;
}

.settings label {
  font-size: 1rem;
}

/* SIDEBAR */

.lsidebar a {
  display: block;
  width: 100%;
  padding: 0.313rem;
  font-size: 1.2rem;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  color: #eee;
  background-color: hsla(220, 10%, 90%, 50%);
}

.lsidebar a:hover {
  background-color: hsla(220, 10%, 98%, 50%);
}

#projects-div h2 {
  font-size: 1.2rem;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

#projects-list {
  flex-grow: 1;
}

#projects-list ul li {
  padding: 1em;
}

#new-project-button {
  justify-self: flex-end;
}

/* JAVASCRIPT CLASSES */

.inactive {
  display: none;
}

.blah {
  color: white;
}